<button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#menu" aria-controls="menu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span style="color: white;">footer menu</span>
</button>

<div class="navbar-expand navbar-expand-md d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
    </ul>
</div>